5-web-services/soap/KitchenClient/Connected Services/FridgeService/Fridge.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Fridge" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59551/Fridge.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59551/Fridge.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59551/Fridge.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KitchenService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFridge_GetAllContents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContents" />
  </wsdl:message>
  <wsdl:message name="IFridge_GetAllContents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContentsResponse" />
  </wsdl:message>
  <wsdl:message name="IFridge_Clean_InputMessage">
    <wsdl:part name="parameters" element="tns:Clean" />
  </wsdl:message>
  <wsdl:message name="IFridge_Clean_OutputMessage">
    <wsdl:part name="parameters" element="tns:CleanResponse" />
  </wsdl:message>
  <wsdl:portType name="IFridge">
    <wsdl:operation name="GetAllContents">
      <wsdl:input wsaw:Action="http://tempuri.org/IFridge/GetAllContents" message="tns:IFridge_GetAllContents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFridge/GetAllContentsResponse" message="tns:IFridge_GetAllContents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Clean">
      <wsdl:input wsaw:Action="http://tempuri.org/IFridge/Clean" message="tns:IFridge_Clean_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFridge/CleanResponse" message="tns:IFridge_Clean_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFridge" type="tns:IFridge">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllContents">
      <soap:operation soapAction="http://tempuri.org/IFridge/GetAllContents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Clean">
      <soap:operation soapAction="http://tempuri.org/IFridge/Clean" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Fridge">
    <wsdl:port name="BasicHttpBinding_IFridge" binding="tns:BasicHttpBinding_IFridge">
      <soap:address location="http://localhost:59551/Fridge.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>